@font-face {
  font-family: 'Karma';
  src: url(../../fonts/KarmaFuture.ttf) format('truetype');
}
.font{
font-family: Karma;
}
.timer {
    display: flex;
    font-size: 50px;
    justify-content: center;
  }
  .timer > div {
    padding: 10px;
    background: transparent;
    color: #fff;
    font-size: 50px;
    width: 80px;
    display: flex;
    justify-content: flex-start;
  }
  .timer > div > span {
    text-transform: uppercase;
    color: #999;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .expired {
    font-size: 20px;
    color: rgb(126, 49, 49);
    border: 1px solid rgb(126, 49, 49);
    padding: 20px;
  }
  