
.main{
    background: black;
    width: 100%;
    
}
.SliderContainer{
    max-width: 50%;
}
.imgClass{

width: 100%;
width: 1200px;
/* max-height: 900px; */
object-fit: contain;
@media screen max-width: 768px{
    object-fit: contain;
}
}
.imgClassEthclusiveFamily{
    width: 80%;
    max-width: 800px;
    /* max-height: 900px; */
    object-fit: contain;
    @media screen max-width: 768px{
        object-fit: contain;
    }
    }

.imgClassTeamImage{
    width: 80%;
    max-width: 700px;
    /* max-height: 900px; */
    object-fit: contain;
    @media screen max-width: 768px{
        object-fit: contain;
    }
}

.ColorLine{
  
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    padding: 0.1px;
    width: 68.3%;
}