
.main{
    background: blac;
    width: 100%;
    
}
.SliderContainer{
    background: red;


    max-width: 50%;
}
.imgClass{

width: 70%;
height: 100%;
max-height: 650px;
max-height: 800px;
object-fit: contain;
@media screen max-width: 768px{
    object-fit: contain;
}
}

.ColorLine{
  
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    padding: 0.1px;
    width: 68.3%;
    
   
    
}