@font-face {
    font-family: 'LuckiestGuy';
    src: url(../../fonts/LuckiestGuy-Regular.ttf) format('truetype');
  }

 .Title{
    font-family: LuckiestGuy;
    font-size: xx-large;
    color: white;
 }
.PinkTitle{
    font-family: LuckiestGuy;
    font-size: xx-large;
    color: #FF11FA;
}
.Subtitle{
    font-family: LuckiestGuy;
    font-size: large;
    color: white;
}
.font2{
    font-family: LuckiestGuy;
    font-size: x-large;
}
body{
    background-color: rgb(24, 23, 23);
}

.card-secundary-container{
    background-color: skyblue;
    width: 100%;
}



.card-tirty-container{
    width: auto;
    padding: 2%;
    border-width:5px;
    border-radius:8px;
    flex: 1;
    max-width: 450px;
    margin-top: -50px;
    border-style: solid;
    border-color: #FF11FA;
    max-height: 560px;
    background-color: transparent;
}

.card-container-heading{
    display: flex;
    max-height: 30%;
    background-color: transparent;
}

.card-container-head1{
    width: 75%;
    font-size: 1rem;
}

.card-container-head2{

    margin-top: -60px;
}

.card-container-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.4rem;

}



.card-container-total{
    border-top:1px solid white ;
    border-bottom:1px solid white ;
}

.btn{
background-color: black;
  color: #2DFF2B;
  height: 80%;
  font-size: 25px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.card-container-total1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.card-container-total2{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    height: 10vh;
    min-width: 100%;
    
}

.container-price{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 3vh;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 3%;

    border-radius: 10px;
}

.container-price input{
    background-color: transparent;
    border: none;
    color: white;
}